<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/home/sawme/Desktop/test/test.css">
  <script src="StudySmarter.js"></script>
  <title>Home</title>
</head>
<body link: "black";>
  <div class="container">
  <div class="top">
    <a href="/pages/home"><%= image_tag("SS_logo_large.png", :class => "name") %> </a>
    <div class="nav">
        <div class="dropdown">
            <button class="dropbtn">Services</button>
            <div class="dropdown-content">
                <a href="/pages/satact">SAT & ACT Prep</a>
                <a href="/extra_pages/sat_prep"> <li style="padding-left:10px;">SAT Prep</li> </a>
                <a href="/extra_pages/act_prep"> <li style="padding-left:10px;">ACT Prep</li></a>
                <a href="/pages/independent">Independent School Exam Prep</a>
                <a href="/pages/Academic">Academic Support</a>
                <a href="/pages/subjectTests">SAT Subject Test Prep </a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content">
                <a href="/pages/contact">Contact us</a>
                <a href="/pages/about">Our Company</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/pages/home"><button class="dropbtn">Home</button> </a>
            <div class="dropdown-content">
            </div>
        </div>
    </div>

</div>
<div class="col">
<div class="links">
  <%= image_tag("SSdude1.jpg", :class => "images") %>
  <h3>links to the SAT and ACT</h3>
</div>
<div class="serviceDesc">
  <h1 class="serviceTitle2"> SAT & ACT Prep</h1>
    <ul class="servicePar2">The ACT consists of four multiple choice sections (English, Math, Reading, Science) and one optional essay section. Again, though many schools do not require the ACT essay, we generally recommend that students prepare for and take the essay section in order to provide maximum flexibility during the college admissions process.</ul>
  <h1 class="serviceTitle2"> Test Dates</h1>
    <ul class="servicePar2">The ACT will be administered six times during the 2016-2017 school year: once each in September, October, December, February, April, and June. For testing dates in December, April, and June, families can purchase a detailed score report and a copy of the test taken. As we generally consider more information to be better than less, we encourage our students to order this "Test Information Release" when available. This service can be ordered during registration or up to three months after the testing date.</ul>
    <ul class="servicePar2">Many variables are involved in crafting effective programs for different students. Please call us for an initial consultation.</ul>
  </p>
</div>
<div class="footer">
    <a href="SSAbout.html" class= "foots"> Office Address: 2220 Mountain Blvd Suite 220
    </a>
    <a href="SSAbout.html" class= "foots"> Phone: (510) 350-8444
    </a>
    <a href="SSAbout.html"class= "foots"> Study Smarter LLC PO Box 21068 Oakland, CA 94620
    </a>
</div>
</div>
</body>
