<div id="moreInfo">
    <div class="prepType">
        <a href="/pages/satact">
            <h1 class="prepTitle">SAT & ACT</h1>
            <%= image_tag("meeting.jpg", :class => "images") %>
            <p class="prepInfo">Click here to learn more</p>
        </a>
    </div>
    <div class="prepType">
        <a href="/pages/independent">
            <h1 class="prepTitle">Independent School Exams</h1>
            <%= image_tag("studyroom.jpg", :class => "images") %>
            <p class="prepInfo"> Click here to learn more </p>
        </a>
    </div>
    <div class="prepType">
        <a href="/pages/subjectTests">
            <h1 class="prepTitle">Subject Tests</h1>
            <%= image_tag("officeroom.jpg", :class => "images") %>
            <p class="prepInfo"> Click here to learn more </p>
        </a>
    </div>
    <div class="prepType">
        <a href="/pages/Academic">
            <h1 class="prepTitle">Academic</h1>
            <%= image_tag("meeting.jpg", :class => "images") %>
            <p class="prepInfo"> Click here to learn more </p>
        </a>
    </div>
</div>
