<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/home/sawme/Desktop/test/test.css">
  <script src="StudySmarter.js"></script>
  <title>Home</title>
</head>
<body>
  <div class="container">
  <div class="top">
    <a href="/pages/home"><%= image_tag("SS_logo_large.png", :class => "name") %> </a>
    <div class="nav">
        <div class="dropdown">
            <button class="dropbtn">Services</button>
            <div class="dropdown-content">
                <a href="/pages/satact">SAT & ACT Prep</a>
                <a href="/extra_pages/sat_prep"> <li style="padding-left:10px;">SAT & ACT Info</li> </a>
                <a href="/pages/independent">Independent School Exam Prep</a>
                <a href="/pages/Academic">Academic Support</a>
                <a href="/pages/subjectTests">SAT Subject Test Prep </a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content">
                <a href="/pages/contact">Contact us</a>
                <a href="/pages/about">Our Company</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/pages/home"><button class="dropbtn">Home</button> </a>
            <div class="dropdown-content">
            </div>
        </div>
    </div>

</div>
<div class="col" style="background-color: rgb(223, 223, 223);" >
  <h1 class="serviceTitle2"> Academic Coaching</h1>
    <ul class="servicePar2">Our academic tutors are experts in their respective fields and are committed to their students’ educational development and overall well-being. We provide customized, one-on-one tutoring in sciences, mathematics, language arts, social studies, and Spanish. Our tutors also have experience working with students with IEPs and students who receive accommodations in school.</ul>
    <ul class="servicePar2">Our tutors undergo multiple interviews and must demonstrate their knowledge through comprehensive diagnostic tests. In addition to academic excellence, we expect our tutors to have superior communication skills, to be able to think on their feet, and to be 100% dedicated to their students. We often conduct several dozen interviews before filling a position. Such meticulous hiring requires time and resources, but we believe it is our responsibility to ensure that our students receive the best instruction, mentorship, and support available.</ul>
  <h1 class="serviceTitle2"> Study Skills</h1>
    <ul class="servicePar2">While many students need help with challenging content, others may need more support with foundational study skills and organization. Students struggle with their academic workloads for a variety of reasons, such as difficulty setting aside time for schoolwork, lack of motivation, and disorganization. We recognize that students deal with stress and distractions every day; our goal is to foster skills that enable students overcome those stresses and distractions. To that end, we offer personalized help developing those crucial study skills, including help creating and implementing systems for academic organization.</ul>
  <h1 class="serviceTitle2"> Rates</h1>
    <ul class="servicePar2" style="margin-bottom:50px;">Academic coaching is available for $75-$100 per hour. Please call us to discuss a program that will fit your student's needs. </ul>

<div class="footer">
    <a href="SSAbout.html" class= "foots"> Office Address: 2220 Mountain Blvd Suite 220
    </a>
    <a href="SSAbout.html" class= "foots"> Phone: (510) 350-8444
    </a>
    <a href="SSAbout.html"class= "foots"> Study Smarter LLC PO Box 21068 Oakland, CA 94620
    </a>
</div>
</div>
</body>
