<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/home/sawme/Desktop/test/test.css">
  <script src="StudySmarter.js"></script>
  <title>Home</title>
</head>
<body link = "black";>
  <div class="container">
  <div class="top">
    <a href="/pages/home"><%= image_tag("SS_logo_large.png", :class => "name") %> </a>
    <div class="nav">
        <div class="dropdown">
            <button class="dropbtn">Services</button>
            <div class="dropdown-content">
                <a href="/pages/satact">SAT & ACT Prep</a>
                <a href="/extra_pages/sat_prep"> <li style="padding-left:10px;">SAT & ACT Info</li> </a>
                <a href="/pages/independent">Independent School Exam Prep</a>
                <a href="/pages/Academic">Academic Support</a>
                <a href="/pages/subjectTests">SAT Subject Test Prep </a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content">
                <a href="/pages/contact">Contact us</a>
                <a href="/pages/about">Our Company</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/pages/home"><button class="dropbtn">Home</button> </a>
            <div class="dropdown-content">
            </div>
        </div>
    </div>

</div>
<div class="col">
<div class="links">
  <%= image_tag("SSdude4.jpg", :class => "img") %>
  <a href="https://www.erblearn.org/parents/admissions-testing-isee"><h3 style="margin-top:50px;">Additional information on the ISEE</h3>
  </a>
    <a href="http://ststesting.com/hspt/"><h3 style="margin-top:75px;">Additional information on the HSPT</h3>
    </a>
      <a href="http://www.ssat.org/"><h3 style="margin-top:75px;">Additional information on the SSAT</h3>
      </a>

</div>
<div class="serviceDesc">
  <h1 class="serviceTitle2"> Independent School Exam Prep</h1>
    <ul class="servicePar2">We offer one-on-one programs that prepare students for the standardized tests often required for private school admissions. Our knowledgeable and supportive instructors help students learn and review content, but we also teach students the strategies that can make the test easier and less intimidating. Our tutors also have experience working with students with IEPs and students who receive testing accommodations in school. Please call us for an initial consultation</ul>
  <h1 class="serviceTitle2"> The ISEE </h1>
    <ul class="servicePar2">The ISEE (Independent School Entrance Exam) is a test usually required for admission or transfer to independent schools. Students entering grades 2-4 take grade-specific tests, and students entering grades 5-12 take the test at one of three "levels": Lower (grades 5-6), Middle (grades 7-8) or Upper (grades 9-12).</ul>
    <ul class="servicePar2">We do not offer test preparation for students entering grades 2-4, but we do offer thorough programs for all other levels of the test. Our ISEE programs, which we have developed in-house, prepare students with the strategies and knowledge they will need to do their best on test day</ul>
  <h1 class= "serviceTitle2"> The HSPT</h1>
    <ul class="servicePar2">The HSPT (High School Placement Test) is usually required for admission to private Catholic schools, and it is administered on-site by individual schools. The HSPT is given only to eighth-graders for placement in ninth grade. </h1>
  <h2 class="serviceTitle2">Rates</h2>
    <ul class="servicePar2" style="margin-right:0px; margin-left:0px;"> Academic coaching is available for $75-$100 per hour. Please call us to discuss a program that will fit your student's needs.</ul>
</div>

<div class="footer">
    <a href="SSAbout.html" class= "foots"> Office Address: 2220 Mountain Blvd Suite 220
    </a>
    <a href="SSAbout.html" class= "foots"> Phone: (510) 350-8444
    </a>
    <a href="SSAbout.html"class= "foots"> Study Smarter LLC PO Box 21068 Oakland, CA 94620
    </a>
</div>
</div>
</body>
